#container{
    margin: auto;
    width: 1000px;
}
#map {
    height: 800px;
    width: 1000px;
    clear:both;
}

#header{
    width: 1000px;
    height: 600px;
    background-image: url("http://localhost:8080/image-resource")
}
#title-header{
    float: left;
    width: 60%;
}
#login-header{
    float: left;
    width: 40%;
}

.login-button{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.5s;
}

.login-button:hover{
    background-color: black;
}
