#container{
    margin: auto;
    width: 1000px;
}
#map {
    height: 800px;
    width: 1000px;
    clear:both;
}

#header{
    width: 1000px;
    height: 600px;
    background-image: url("http://localhost:8080/image-resource")
}
#title-header{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 50%;
    height: 30px;
}
#login-header{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 50%;
    height: 30px;
}

