<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Title</title>
</head>
<body>

<form action="#" method="post" th:action="@{/addYacht}" th:object="${yacht}">
    <input th:field="*{yachtModel}" placeholder="Model jachtu" /><br />
    <input th:field="*{maxCapacity}" placeholder="Maksymalna pojemność osób" /><br />
    <input th:field="*{pricePerDay}" placeholder="Cena za dzień"/><br />
    <input th:field="*{sailSize}"  placeholder="powierzchnia ożaglowania" /><br />
    <input th:field="*{enginePowerInHorsePower}"  placeholder="moc silnika" /><br />
    <input type="submit" value="Dodaj" />
</form>


</body>
</html>